10 GOTO 30
20 {{basic_keyword}}
30 READ X
40 IF X = -1 THEN GOTO 90
50 POKE $9FBB, X
60 GOTO 30
70 REM NOW, ACTUALLY PRINT OUT THE TOKEN.
80 REM FIRST, WE DO SOME SANITY CHECKS.
90 IF NOT (PEEK($080C) = 20 AND PEEK($080D) = 0) THEN GOTO 900
100 IF (PEEK($080A) = 16 AND PEEK($080B) = 8) THEN GOTO 500
110 IF (PEEK($080A) = 17 AND PEEK($080B) = 8) THEN GOTO 600
120 GOTO 900

500 REM THEN WE HAVE A SINGLE BYTE TOKEN AT $080E
510 X$ = STR$(PEEK($080E))
520 GOTO 800

600 REM THEN WE HAVE A TWO BYTE TOKEN AT $080E
610 X$ = STR$(PEEK($080E)) + ", " + STR$(PEEK($080F))
620 GOTO 800

800 FOR M = 1 TO LEN(X$)
810 POKE $9FBB, ASC(MID$(X$, M, 1))
820 NEXT M

900 REM PRINT THE JSON OUTRO
910 POKE $9FBB, 93: REM END SQUARE BRACKET
920 POKE $9FBB, 125: REM END CURLY BRACE
930 POKE $9FBB, 10: REM ENDLINE

1000 POWEROFF
{{data}}
